/* Footer General */
footer {
    background-color: #212529; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 40px 20px;
    font-size: 16px;
    text-align: center;
    border-top: 3px solid #007bff; /* Línea superior en azul */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin: 0 15px;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

.footer-link:hover {
    color: #007bff; /* Color azul al pasar el mouse */
    text-decoration: underline;
}

.footer-social {
    margin-bottom: 20px;
}

.social-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

.social-link:hover {
    color: #007bff; /* Azul al pasar el mouse */
    transform: scale(1.2); /* Agrandar el ícono social */
}

.footer-copy {
    font-size: 14px;
    color: #ddd; /* Gris suave para el texto del copyright */
}

.footer-copy p {
    margin: 0;
}

/* Efecto animado para el footer */
footer {
    opacity: 0;
    animation: fadeInFooter 1s forwards;
}

@keyframes fadeInFooter {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
